body {
    max-height: 100vh;
}

header {
    font-family: 'Press Start 2P';
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 5em;
}

h2 {
    margin: 0;
}

main {
    margin: 1em;
    font-family: 'Press Start 2P';
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.game {
    background-color: black;
    color: white;
    height: 522px;
    width: 482px;
}

.gamestate {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.gamestate h4 {
    margin: 0;
    text-align: center;
    font-size: 1em;
}

.gamestate .score, .level {
    text-align: center;
    font-size: 1em;
}

.scoreboard {
    margin: 1em;
}

.levelboard {
    margin: 1em;
}


/* styles for dynamically created divs */
.gameboard {
    border: 1px solid rgba(255,255,255,.15);
    font-size: 2em;
    margin: 0;
    background-color: lightslategray;
    height: 480px;
    width: 480px;
    text-align: center;
    line-height: 480px;
}

.row {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 10px;
    width: 480px;
}

.tile {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 10px;
    width: 10px;
}

.fruit {
    background-color: blue;
}

.tail {
    background-color: green; 
}
.character {
    background-color: darkgreen;
}

/* 
modal 
tutorial available at:
https://www.w3schools.com/howto/howto_css_modals.asp
*/

/**/
.modal {
    font-family: 'Press Start 2P';
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    border: 1px solid lightslategray;
    width: 482px;
}

.modal p {
    text-align: center;
}

.close {
    color: red;
    float: right;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
}
